{% extends 'base.html' %}

{% block site_baslik %}Anasayfa Başlık{% endblock %}

{% block body %}
    
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Anasayfa</h1>

          <p> Hoşgeldiniz sayın, {{ name }} </p>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, explicabo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus animi, sequi sed reiciendis numquam eligendi laboriosam quaerat cum eos, fugiat est sint repellendus, dolor eum rerum tempore. Voluptatum, exercitationem consequuntur!
           Recusandae nemo officia provident inventore, esse non iure consequatur iste nostrum impedit voluptas aperiam vitae blanditiis voluptatum repudiandae ullam distinctio vel expedita sint repellat rerum molestias? Quas quam animi illo!
           Ut necessitatibus asperiores, reiciendis possimus a minus dicta iste illum quo distinctio adipisci velit architecto deserunt laboriosam autem modi id facilis quisquam ex incidunt. Sint velit odio consectetur porro dolore.
           Impedit nobis voluptatem, exercitationem, quam quas pariatur aliquam blanditiis, illum aut delectus officiis ducimus eum non vitae consequuntur voluptatum. Accusamus laudantium ut ab vel consequatur quam aut ipsum nihil laborum.
           Accusantium iusto aliquid ratione vero excepturi itaque quod nostrum autem, dicta aperiam doloremque, aspernatur suscipit? Doloremque illum hic magni debitis delectus. Sint, non pariatur quasi ratione perferendis soluta eius modi?
           Pariatur quisquam omnis unde recusandae commodi earum laudantium voluptatem ut labore, doloribus voluptates reiciendis quasi quas nesciunt neque minus rerum ipsum asperiores. Corporis, dolorum laborum nulla iusto reiciendis quo sint.
           Quod rerum facere voluptates numquam, consequuntur consequatur sit error non voluptate praesentium doloribus! Eaque consequuntur corrupti magni vero vel dolores veniam numquam veritatis quo sit cupiditate at, esse odio sunt?
           Expedita minima doloremque necessitatibus! Nostrum obcaecati reprehenderit quam, atque neque debitis nulla cupiditate sapiente itaque ex animi error? Distinctio totam provident nemo similique earum, veritatis quis beatae autem labore voluptates.
           Ducimus impedit veniam magnam id cumque iusto, minima, facere ut vel nam molestias fuga possimus suscipit corporis esse? Voluptates cupiditate esse impedit odit. At corporis hic temporibus officiis odit officia?
           Alias dolorem accusantium, velit modi voluptatem impedit facere consequatur. Reiciendis natus ut maxime dolor corporis, alias assumenda quia, adipisci sint optio quasi reprehenderit id veritatis cumque deserunt eius minus quod?
           </p>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>6

{% endblock %}
   


    