{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
 <div class="container">
     <div class="row">
          <div class="col-md-6 offset-3">
               <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                     <h1>Form</h1>
            
               <!-- form.as_p --  _p paragraf olarak kapla -->
                {{ form|crispy }} <!-- _p paragraf olarak kapla -->
                <input type="submit" value="Gönder" class="btn btn-primary">
                </form>
          </div>
     </div>
 </div>
{% endblock %}
   


    
 