*{
    margin: 0;
    padding: 0;
}
#btn{
    width: 20%;
    margin: 0 auto;
    position: relative;
    bottom: 0;
}
#game{
    margin: 0 auto;
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;    
    z-index: 99;
}
.animate{
    animation: jump 500ms;
}
#block{
    z-index: 0;
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: game 1s infinite linear;
}
@keyframes game{
    0%{left:480px;}
    100%{left:-40px;}
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;;}
    100%{top: 150px;}
}
